<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.appinbanker.inbanker">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        //Create a string resource with your app id
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Inicio" />
        <activity
            android:name=".CadastroUsuario"
            android:label="@string/title_activity_cadastro_usuario"
            android:parentActivityName=".Inicio">

            <!--
            Parent activity meta-data to support 4.0 and lower
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.appinbanker.inbanker.Inicio"/>
            -->
        </activity>
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TelaLogin"
            android:label="@string/title_activity_telalogin"
            android:parentActivityName=".Inicio" />
        <activity
            android:name=".SimuladorPedido"
            android:label="@string/title_activity_simulador_pedido"
            android:parentActivityName=".NavigationDrawerActivity" />
        <activity
            android:name=".SimuladorResultado"
            android:label="@string/title_activity_simulador_resultado"
            android:parentActivityName=".SimuladorPedido"></activity>
    </application>

</manifest>